*.swp
/.symlinks
/etshell
/etshell2
/etobjdump
/etsandbox
/etcoverage
/etelf
/etharden
/etprofile
/ettwocode
/etorder
/pyshell
/libsandbox.so
/libcoverage.so
/libcet.so
/build_x86_64
/build_aarch64
/build_riscv
/.etshell_history
/core

